[Unit]
Description=Haproxy-Agent for ram adjusted weights
[Service]
User=root
WorkingDirectory=
ExecStart=start.sh
Type=simple
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
